<!-- <mat-sidenav-container>
    <mat-sidenav mode="side">
      <div class="user-profile">
        
      </div>
      
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          Home
        </a>
        <a mat-list-item routerLink="/map">
          Map
        </a>
        <a mat-list-item routerLink="/departments">
            Departments
          </a>

      </mat-nav-list>
      
      
      <div class="footer">
      </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->